@use 'sass:math';

// 變數
@import 'base/font';
@import 'base/color';
@import 'base/var';

// mixin function
@import 'mixin/mixins';

// components
@import 'component/btn';
@import 'component/card';
@import 'component/form';
@import 'component/grid';
@import 'component/table';
@import 'component/title';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/login';
@import 'layout/slide';
@import 'layout/nav';
@import 'layout/body';

// page
@import 'page/index';
@import 'page/about';
@import 'page/product';
@import 'page/contactus';




h1 {
    font-size: map-get($map , h1);
}


$a : 100px;
$a : 200px !default;


.box {
    width: $a;
}

//範例
// @mixin layout($class) {

//     @if $class ==100 {
//         .layout-full {
//             width: $class *1%;
//         }
//     }

//     @else if $class < 100 {
//         .layout-#{$class} {
//             width: $class *1%;
//             margin: 0 auto;
//         }
//     }
// }

// @include layout(80);


.box {
   @include rect(200px , 300px);
   @include animation(.3);
  }



  //注意單位

  .d {
   width:  10 + 10px;
   height:  10px - 1px;
   margin:  10 * 10px;
   // font : (100 / 20) + px //舊版寫法
    font : math.div(120,  10) + px;// 新版寫法 math 內建函式
  }

  // 顏色函式
   .dark {
      background-color: darken(#fff, 100);
   }
   .lighten {
       background-color: lighten(#000000, 100);


   }











