body {
    //區域變數
    $number : 13px;

    font-size: $fontSize;

    // 判斷式
    @if $status {
        background-color: $null;
    }

    @else {
        background-color: #ffff9a;
    }

    color: $color;
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    .wrapper {
        @include layout(100);
     }
}
