body {
    //區域變數
    $number : 13px;

    font-size: $fontSize;

    // 判斷式
    @if $status {
        background-color: $null;
    }

    @else {
        background-color: #e4e4e4;
    }

    color: $color;
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    .wrapper {
        @include layout(100);
     }
     section {
        width: 100vw;
        height: 100vh;
        &:nth-child(odd){
            background-color: #ececec;
        }
     }
}
