$color : #333; //顏色
$bgc : #eee;
$menu-color : #fa92ff;
// $primary : ;
// $secondary : ;
// $gray:; 


.gray {
    background-color: rgb(243, 190, 112);
  }

.border {
    border: 1px solid #333;
     
}  
  