$color : #333; //顏色
$bgc : #eee;
$menu-color : #fa92ff;
// $primary : ;
// $secondary : ;
// $gray:; 


$allcolor : (primary : #4B4EFC,
   secondary : #FD6FE3,
   success : #4ADE80,
   warning : #FBBF24,
   black   : #3b3b3b,
   );

.gray {
    background-color: rgb(243, 190, 112);
  }

.border {
    border: 1px solid #333;
     
}  
  