$fontSize : 16px; // 數值
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //字串

$list : 10px 20px; //list

// 字體大小
$tag-size : ( //  key : value
   h1 : 45px,
   h2 : 36px,
   h3 : 28px,
   h4 : 20px,
   h5 : 16px,
   span : 12px,
   div : 14px,
   body : 13px,
   '.desc' : 11px
);