$fontSize : 16px; // 數值
$fontFamily : 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif; //字串

$list : 10px 20px; //list

h1 {
   font-size: $fontSize * 5;
}
h2 {
    font-size: $fontSize * 4;
 }
 h3 {
     font-size: $fontSize *3;

 }