//box center
@mixin center($w) {
    width: $w;
    margin: auto;
}



//rect
@mixin rect($w , $h: $w) {
    width: $w;
    height: $h;
}

//動畫
@mixin animation($s) {
    transition: all ease $s+s;
}

//layout
@mixin layout($w) {
    @if $w ==100 {
        width: 100%;
    }

    @else if $w < 100 {
        width: $w * 1%;
        margin: auto;
    }

    @else {
        width: $w + px;
        margin: auto
    }
}

//平板
@mixin t() {
    @media screen and (max-width: $t) {
        @content;
    }
}

//手機
@mixin m() {
    @media screen and (max-width: $m) {
        @content;
    }
}

//自訂斷點
@mixin c($c){
    @media screen and (max-width: $c) {
        @content;
    }
}


@mixin push($val) {
    @for $i from 1 through $val {
       .left#{$i} {
          position: relative;
          left: $i + px
       }
       .top#{$i} {
          position: relative;
          top: $i + px
       }
       .right#{$i} {
          position: relative;
          right: $i + px
       }
       .bottom#{$i} {
          position: relative;
          bottom: $i + px
       }
    }
 }






