@mixin center($w) {
    width: $w;
    margin: auto;
}



//rect

@mixin rect($w , $h:$w){
   width: $w;
   height: $h;
}

@mixin animation($s){
    transition: all ease $s+s;
 }
 


.box {
 @include rect(200px , 300px);
 @include animation(.3);
}







.box1 {
 
    @include rect(300px, 200px)

}






//layout

@mixin layout($w) {
    @if $w ==100 {
        width: 100%;
        }
        @else if $w < 100 {
            width: $w * 1%;
            margin: auto;
        }
        @else {
            width: $w + px;
            margin: auto
        }
    }
